@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1e;
  --foreground: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
